<a href="https://colab.research.google.com/github/blessin1/machine-learning-zoomcamp/blob/main/Homework_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

import seaborn as sns
from matplotlib import pyplot as plt
%matplotlib inline

In [2]:
!wget https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv

--2025-10-01 22:03:49--  https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 874188 (854K) [text/plain]
Saving to: ‘car_fuel_efficiency.csv.1’

car_fuel_efficiency 100%[===================>] 853.70K  --.-KB/s    in 0.05s

2025-10-01 22:03:49 (18.0 MB/s) - ‘car_fuel_efficiency.csv.1’ saved [874188/874188]

In [3]:
# What version of pandas did you install?
pd.__version__

'2.2.2'

In [4]:
# Number of records are in the dataset?
df = pd.read_csv('car_fuel_efficiency.csv')
len(df)

9704

In [5]:
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [6]:
df.columns = df.columns.str.lower().str.replace(' ', '_')

string_columns = list(df.dtypes[df.dtypes == 'object'].index)

for col in string_columns:
    df[col] = df[col].str.lower().str.replace(' ', '_')

In [7]:
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,europe,gasoline,all-wheel_drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,usa,gasoline,front-wheel_drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,europe,gasoline,front-wheel_drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,usa,diesel,all-wheel_drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,europe,gasoline,all-wheel_drive,2.0,12.488369

In [8]:
# The fuel types are presented in the dataset

df['fuel_type'].nunique()

2

In [9]:

fuel_type = df['fuel_type'].unique()
print(fuel_type)

['gasoline' 'diesel']

In [10]:
df['fuel_type'].value_counts()

fuel_type
gasoline    4898
diesel      4806
Name: count, dtype: int64

In [11]:
df.nunique()

engine_displacement      36
num_cylinders            14
horsepower              192
vehicle_weight         9704
acceleration            162
model_year               24
origin                    3
fuel_type                 2
drivetrain                2
num_doors                 9
fuel_efficiency_mpg    9704
dtype: int64

In [12]:
# Columns in the dataset that have missing values

df.isnull().sum()

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

In [13]:
missing_columns = (df.isnull().sum()>0).sum()
print(missing_columns)

4

In [14]:
# The maximum fuel efficiency of cars from Asia


asian_cars = df[df['origin'] == 'asia']

max_fuel_efficiency = asian_cars['fuel_efficiency_mpg'].max()

print(f"Maximum fuel efficiency of cars from Asia: {max_fuel_efficiency} MPG")

Maximum fuel efficiency of cars from Asia: 23.759122836520497 MPG

In [15]:
# Median value of horsepower

median_hp = df['horsepower'].median()
print(f"Median Horsepower: {median_hp}")

Median Horsepower: 149.0

In [16]:
# Calculate the most frequent value of the same horsepower column
most_frequent_hp = df['horsepower'].mode()[0]
print(f"Most Frequent Horsepower: {most_frequent_hp}")

Most Frequent Horsepower: 152.0

In [17]:
# Use fillna to fill missing values with the most frequent value
df['horsepower'] = df['horsepower'].fillna(most_frequent_hp)

In [18]:
# Calculate the new median value of horsepower
new_median_hp = df['horsepower'].median()
print(f"Median Horsepower after filling missing values: {new_median_hp}")

Median Horsepower after filling missing values: 152.0

In [19]:
# Sum of weights


# Select all the cars from Asia
asian_cars = df[df['origin'] == 'asia']

# Select only columns vehicle_weight and model_year
asian_small = asian_cars[['vehicle_weight', 'model_year']]

# Select the first 7 values
asian_top7 = asian_small.head(7)
X = asian_top7.to_numpy()

XT = X.T
XT

array([[2714.21930965, 2783.86897424, 3582.68736772, 2231.8081416 ,
        2659.43145076, 2844.22753389, 3761.99403819],
       [2016.        , 2010.        , 2007.        , 2011.        ,
        2016.        , 2014.        , 2019.        ]])

In [20]:
XTX = X.T.dot(X)
XTX_inv = np.linalg.inv(XTX)
XTX_inv

array([[ 5.71497081e-07, -8.34509443e-07],
       [-8.34509443e-07,  1.25380877e-06]])

In [21]:
y = np.array([1000, 1100, 900, 1200, 1000, 850, 1300])

In [22]:
w = XTX_inv.dot(X.T).dot(y)
print(f"\nw: {w}")

w: [0.02102614 0.490882  ]

In [23]:
result_sum = w.sum()
print(f"\nSum of all elements of w: {result_sum}")

Sum of all elements of w: 0.5119081403864171